#POSTGRES
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

#PG-ADMIN
PGADMIN_DEFAULT_PASSWORD=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_EXTERNAL_PORT=

#AUTH
JWT_SECRET_KEY=
PASSWORD_SALT=
FRONTEND_URL=http://127.0.0.1:5173
PORT=3000

#GOOGLE OAUTH
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://127.0.0.1:3000/auth/google/callback
